footer {
    min-height: 200px;
    background-color: #0F101D;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 53px;
    }
    .logo {
        img {
            width: 100%;
            height: 100%;
        }
    }
    .footer__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;   
    }
    .footer__list {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    .footer__link {
        margin-right: 40px;
        font-size: 14px;
        font-weight: 400;
        color: white;
        text-decoration: none;
        transition: color .3s;
        &:hover {
            color: $main-color
        }
    } 
    .footer__text {
        text-align: center;
        margin-top: 20px;
        font-size: 11px;
        line-height: 14px;
        color: #32ADD1;
    }
}